<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'Application' => [
        'google_analytics' => [
            // GA Asynchronous Syntax command array
//            ['_setAccount', 'UA-XXXXX-X'],
//            ['_trackPageview'],
        ],
    ],

    'asset_manager' => [
        'filters' => [
            'js/header-scripts.js' => [
                [ 'filter' => 'UglifyJs2' ]
            ],
            'js/frontend-scripts.js' => [
                [ 'filter' => 'UglifyJs2' ]
            ],
            'css/static-css-bundle.css' => [
                [ 'filter' => 'UglifyCSS' ]
            ],
        ],
        'caching' => [
            'default' => [
                'cache' => 'FilePath',
                'options' => [
                    'dir' => './data/cache/assets',
                ],
            ],
        ],
    ],

    'MyBase' => array(
        'AsseticSassFilter' => array(
            'sass_path' => '/usr/local/bin/sass',
        ),
    ),
];
